html, body{
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
  font-size: 4vw;
}

.img-jobs {
  width: 30vw;
  height: auto;
  shape-outside: url(/assets/img/steve-jobs.png);
  shape-image-threshold: 0.5;
  float: left;
  padding-left: 5vw;
}

.img-zuckerberg {
  width: 30vw;
  height: auto;
  shape-outside: url(/assets/img/mark-zuckerberg.png);
  shape-image-threshold: 0.5;
  float: right;
  padding-right: 5vw;
}

p{
  font-size: 1.8em;
  padding-left: 5vw;
  margin-right: 5vw;
  text-align: justify;
}
